@import "../fontawesome-free-6.3.0-web/css/fontawesome.min.css";
@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  width: 100%;
}
body nav {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background: black;
  color: white;
  height: 115px;
}
body nav .search .searchTerm {
  width: 420px;
  padding: 5px;
  height: 40px;
  border-radius: 15px;
  outline: none;
  color: #9DBFAF;
}
@media screen and (max-width: 501px) {
  body nav .search .searchTerm {
    width: 300px;
  }
}
@media screen and (max-width: 390px) {
  body nav .search .searchTerm {
    width: 200px;
  }
}
body nav .rogers {
  font-size: 35px;
  width: 100%;
  font-weight: 500;
  margin-left: 1.5em;
}
body nav .logo {
  width: 15%;
}
@media screen and (max-width: 1001px) {
  body nav .logo {
    content: url("../img/Layer 2.png");
  }
}
body nav .notif {
  margin-left: 3em;
}
@media screen and (max-width: 1001px) {
  body nav .notif {
    display: none;
  }
}
body nav .account {
  margin-left: 15em;
}
@media screen and (max-width: 1151px) {
  body nav .account {
    display: none;
  }
}
@media screen and (max-width: 651px) {
  body nav {
    gap: 1.5em;
  }
  body nav .rogers {
    display: none;
  }
}
body .main {
  display: flex;
  height: 112vh;
  width: 100%;
}
body .main .left {
  width: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: black;
}
body .main .left .controllers {
  margin-top: 3em;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body .main .left .controllers .afterFirst {
  margin-top: 2em;
}
body .main .left .controllers .beforeLast {
  margin-bottom: 22em;
}
@media screen and (max-width: 1301px) {
  body .main .left .controllers .beforeLast {
    margin-bottom: 14em;
  }
}
body .main .left .controllers li {
  color: white;
  display: flex;
  justify-content: flex-start;
  width: 150px;
  gap: 1em;
}
body .main .left .controllers li img {
  width: 20%;
}
body .main .left .controllers li a {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
body .main .left .controllers .dashboardButton {
  width: 100%;
}
body .main .left .controllers .dashboardButton .dashboard {
  height: 60px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding-inline: 0.5em;
  background: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
  font-size: 25px;
  font-weight: 400;
}
body .main .left .controllers .dashboardButton .dashboard img {
  width: 18%;
}
@media screen and (max-width: 651px) {
  body .main .left {
    display: none;
  }
}
@media screen and (max-width: 801px) {
  body .main .left {
    width: 10%;
  }
  body .main .left .controllers .dashboardButton {
    display: none;
  }
  body .main .left .controllers li {
    justify-content: center;
  }
  body .main .left .controllers li a {
    display: none;
  }
}
body .main .mid {
  width: 50%;
  background-color: black;
}
body .main .mid .firstSection {
  display: flex;
  align-items: center;
  gap: 6em;
}
body .main .mid .firstSection .totalBalance {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
body .main .mid .firstSection .totalBalance .balance {
  font-size: 20px;
  font-weight: 900;
  color: white;
  opacity: 0.8;
}
body .main .mid .firstSection .totalBalance .price {
  font-size: 20px;
  font-weight: 600;
  color: white;
  opacity: 0.7;
  margin-bottom: 0.5em;
}
body .main .mid .firstSection .totalBalance ul {
  list-style: none;
  display: flex;
  gap: 0.5em;
}
body .main .mid .firstSection .totalBalance ul .btcValue {
  font-size: 27px;
  font-weight: 700;
  color: white;
}
body .main .mid .firstSection .totalBalance ul .btc {
  font-size: 15px;
  color: rgb(0, 0, 0);
  height: 25px;
  width: 50px;
  border-radius: 8px;
  background: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main .mid .firstSection .other {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 1em;
  height: 60px;
  width: 420px;
  background: #292727;
  border-radius: 17px;
}
body .main .mid .firstSection .other li {
  font-size: 22px;
  font-weight: 400;
  color: white;
}
body .main .mid .firstSection .other .portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 130px;
  background: black;
  border-radius: 17px;
}
@media screen and (max-width: 1001px) {
  body .main .mid .firstSection {
    flex-direction: column;
    gap: 1em;
  }
}
body .main .mid .secondSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-right: 0.1em;
}
body .main .mid .secondSection img {
  max-width: 95%;
  margin-top: 1em;
  margin-bottom: 1em;
}
@media screen and (max-width: 1001px) {
  body .main .mid .secondSection img {
    max-width: 95%;
  }
}
body .main .mid .thirdSection .thirdNav {
  margin-inline: 2em;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
body .main .mid .thirdSection .thirdNav h2 {
  font-size: 22px;
  font-weight: 700;
}
body .main .mid .thirdSection .thirdNav .seeAll {
  opacity: 0.7;
}
body .main .mid .thirdSection .thirdNav .seeAll a {
  color: white;
}
body .main .mid .thirdSection .jsp {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
body .main .mid .thirdSection .jsp div {
  color: white;
  height: 79px;
  background: rgba(32, 35, 43, 0.7);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body .main .mid .thirdSection .jsp div ul {
  list-style: none;
}
body .main .mid .thirdSection .jsp div button {
  height: 40px;
  width: 80px;
  background-color: black;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
  color: white;
}
@media screen and (max-width: 1001px) {
  body .main .mid .thirdSection .jsp div .courbe {
    display: none;
  }
}
@media screen and (max-width: 801px) {
  body .main .mid {
    width: 55%;
  }
}
body .main .right {
  width: 30%;
  color: white;
  background-color: black;
}
body .main .right .transac {
  height: 50%;
  margin-left: 1em;
  margin-top: 1.75em;
}
body .main .right .transac h2 {
  margin-left: 0.3em;
}
body .main .right .transac .mainUl {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: white;
}
body .main .right .transac .mainUl div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
body .main .right .transac .mainUl div ul {
  color: white;
  list-style: none;
  font-size: 19px;
}
@media screen and (max-width: 1001px) {
  body .main .right .transac .mainUl div .transacName {
    display: none;
  }
}
body .main .right .assets {
  margin-left: 1em;
}
body .main .right .assets h2 {
  margin-top: 1em;
  margin-left: 0.3em;
}
body .main .right .assets .buttons {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}
body .main .right .assets .buttons button {
  width: 95%;
  height: 11em;
  border-radius: 20px;
}
body .main .right .assets .buttons .first {
  background: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
}
body .main .right .assets .buttons .second {
  background: linear-gradient(99.56deg, #FAFF00 35.82%, #29ABE2 64.75%, rgba(255, 255, 255, 0.7) 91.33%);
}
body .main .right .assets .buttons .content {
  height: 95%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 7.5em;
}
body .main .right .assets .buttons .content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
body .main .right .assets .buttons .content ul .bitcoin {
  font-size: 19px;
  font-weight: 600;
  color: white;
}
body .main .right .assets .buttons .content ul .amount {
  font-size: 27px;
  font-weight: 600;
  color: white;
}
body .main .right .assets .buttons .content ul .etherum {
  font-size: 19px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
body .main .right .assets .buttons .content ul .ethamount {
  font-size: 27px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
body .main .right .assets .buttons .content .name {
  font-size: 27px;
  font-weight: 600;
  color: white;
  margin-right: 1em;
}
@media screen and (max-width: 1001px) {
  body .main .right .assets .buttons .content .name {
    display: none;
  }
}
body .main .right .assets .buttons .content .eth {
  font-size: 27px;
  font-weight: 600;
  color: black;
  margin-right: 1em;
}
@media screen and (max-width: 1001px) {
  body .main .right .assets .buttons .content .eth {
    display: none;
  }
}
@media screen and (max-width: 801px) {
  body .main .right {
    width: 35%;
  }
  body .main .right .transac {
    height: 55%;
  }
  body .main .right .assets .buttons {
    flex-direction: row;
  }
  body .main .right .assets .buttons .first,
body .main .right .assets .buttons .second {
    height: 16.5em;
  }
  body .main .right .assets .buttons .content ul {
    align-items: center;
  }
  body .main .right .assets .buttons .content ul .ethamount,
body .main .right .assets .buttons .content ul .amount {
    display: none;
  }
}
@media screen and (max-width: 651px) {
  body .main {
    flex-direction: column;
  }
  body .main .mid {
    width: 100%;
  }
  body .main .mid .firstSection .other {
    width: 90%;
  }
  body .main .mid .thirdSection .jsp {
    margin-inline: 0.5em;
  }
}
@media screen and (max-width: 651px) and (max-width: 501px) {
  body .main .mid .thirdSection .jsp .name {
    display: none;
  }
  body .main .mid .thirdSection .jsp .courbe {
    display: none;
  }
}
@media screen and (max-width: 651px) {
  body .main .right {
    width: 100%;
  }
  body .main .right .assets {
    margin-left: 0;
    margin-inline: 0.5em;
  }
}

/*# sourceMappingURL=output.css.map */
